<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tagify - {{ template "title" . }} </title>
    <link rel="stylesheet" href="/css/pico.green.min.css">
    <link rel="stylesheet" href="/css/pico.colors.min.css">
  </head>
  <body>
    <main class="container">
      {{ template "navbar" }}
      {{ template "content" . }}
    </main>
  </body>
</html>