{{ define "navbar" }}
<nav>
  <ul>
    <li>
      <a href="/home">
        <h2 style="color: var(--pico-color-green-400)">
          Tagify
        </h2>
      </a>
    </li>
  </ul>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/playlists">Playlists</a></li>
  </ul>
</nav>
{{ end }}